<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315195829957-uf7f2dth8fdfegh3fvnem8umhb8nscvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315195829957-uf7f2dth8fdfegh3fvnem8umhb8nscvf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>315195829957-4f4kd9sn6rcspktdn873pcccs2sqjj31.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKBd7yc-qlczOvBIPHmtXuKUk7y0yO-W0</string>
	<key>GCM_SENDER_ID</key>
	<string>315195829957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myprofile</string>
	<key>PROJECT_ID</key>
	<string>myprofile-561cb</string>
	<key>STORAGE_BUCKET</key>
	<string>myprofile-561cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315195829957:ios:4a28341869129119</string>
	<key>DATABASE_URL</key>
	<string>https://myprofile-561cb.firebaseio.com</string>
</dict>
</plist>